<div class="container">
  <nav class="navbar navbar-default" style="margin-top: 20px;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">NipponWeatherSightseeingMap</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/keisei1092/NipponWeatherSightseeingMapRails" target="_blank"><i class="fa fa-github"></i>&nbsp;View Source Code</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <%= form_tag "/", :method => 'get', :class => 'form-inline' do %>
    週末の天気が
    <%= select_tag(:weather, options_for_select([['晴', 'sunny'], ['曇', 'cloudy'], ['雨', 'rainy'], ['雪', 'snowy']]), :class => 'form-control') %>
    の地域の観光情報を表示します
    <%= submit_tag "GO", :class => 'form-control' %>
  <% end %>
  <% @data.each do |data| %>
    <div class="page-header">
      <h2>
        <i class="fa fa-sun-o text-danger"></i>&nbsp;<%= data["area"] %>
      </h2>
    </div>
    <% (0..9).each do |i| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="<%= data["info"]["link"][i] %>" target="_blank"><%= data["info"]["title"][i] %></a></h3>
        </div>
        <style>
          .panel-body img {
            margin-right: 15px;
          }
        </style>
        <div class="panel-body">
          <%= data["info"]["description"][i].html_safe %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @data.empty? %>
    <p class="bg-danger" style="padding: 15px; margin: 10px 0; color: #333;">該当する地域はありませんでした。</p>
  <% end %>
  <hr>
  <p class="text-center">
    &copy; 2015 <a href="http://twitter.com/keisei_1092" target="_blank">keisei</a>
  </p>
</div>
